.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  max-height: 64px;
  box-sizing: border-box;
  padding: 8px;
  border-bottom: 1px solid rgba(219, 219, 219);

  
}

.image {
  position: absolute;
  margin-right: 75vh;
  text-align: start;
}

.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 13%;
  border: 1px solid lightgrey;
  background-color: rgb(250, 250, 250);
  color: rgb(141, 138, 138);
  height: 27px;
  border-radius: 3px;
  }
  
.input {
  outline: none;
  border : none;
  height: 15px;
  width: 100px;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.logout{
  position: absolute;
  margin-left: 75vh;
  align-items: center;
}

.button {
  border: none;
  background-color: #FAFAFA;
}