.post {
    max-width: 700px;
    margin-bottom: 20px;
    border: 1px solid rgba(219, 219, 219);
    background-color: white;
}

.image {
    max-width: 100%;
}
.title{
    margin-left: 10px;
    margin-top: 0px;
    font-size: 18px;
}

.description{
    margin-left: 10px;
    font-size: 15px;
}

.comment{
    margin-left: 10px;
    font-size: 12px;
}

.viewComment{
    display: inline;
    margin-left: 10px;
    font-size: 15px;
}

.buttonComment{
    border: none;
    margin-left: 4px;
    background-color: white;
    color: #808080;
}

.buttonComment:hover{
    cursor: pointer;
}



.footer{
    width: 100%;
    margin-top: 16px;
    border-top: 1px solid  rgba(219, 219, 219);
}